.radio {
  margin-bottom: 40px;
  &__title {
    text-transform: uppercase;
    color: #1f2041;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    margin-bottom: 16px;
  }
  &__items {
    display: flex;
  }
  &__item {
    margin-right: 20px;
  }
  &__item-circle {
    position: absolute;
    z-index: -1;
    opacity: 0;
  }

  &__item-text {
    display: inline-flex;
    align-items: center;
    user-select: none;
    color: rgba(31, 32, 65, 0.5);
    font-size: 14px;
    line-height: 24px;
    cursor: pointer;
  }

  &__item-text::before {
    content: '';
    display: inline-block;
    width: 20px;
    height: 20px;
    border: 1px solid rgba(31, 32, 65, 0.25);
    border-radius: 100%;
    margin-right: 10px;
    background-repeat: no-repeat;
    background-position: center center;
  }

  &__item-circle:checked + &__item-text::before {
    background-image: url(./radio.svg);
    border: 1px solid #bc9cff;
  }
  &__item-circle:checked + &__item-text {
    color: rgba(31, 32, 65, 0.75);
  }
}
