.date-dropdown
  .date-dropdown__item
    label.date-dropdown__title date dropdown
    input(type="text" placeholder="ДД.ММ.ГГГГ").date-dropdown__field.date-dropdown--start
  .date-dropdown__item
    label.date-dropdown__title date dropdown
    input(type="text" placeholder="ДД.ММ.ГГГГ").date-dropdown__field.date-dropdown--end