//-                     Classes
//- btn--outline
//- btn--backgroundColor
//- btn--textColor
//- btn--darken
//- btn--big

mixin button(text, extra, border, backgroundColor, textColor, darken, big)
    - 
      let classList = ''
      if (extra) classList += extra
      if (border) classList += border
      if (backgroundColor) classList += backgroundColor
      if (textColor) classList += textColor
      if (darken) classList += darken
      if (big) classList += big

    button.btn(type='submit' class=classList )= text

+button('перейти к оплате', 'btn--outline', ' btn--backgroundColor')