.buttons
  button.btn.btn--outline.btn--backgroundColor(type='submit') CLICK ME
  button.btn.btn--outline.btn--textColor(type='submit') CLICK ME
  button.btn.btn--textColor.btn--darken(type='submit') CLICK ME
  button.btn.btn--outline.btn--backgroundColor.btn--big(type='submit') перейти к оплате
