.checkbox {

  &__items {
    max-width: 230px;
  }
  &__item {
    margin-bottom: 10px;
  }
  &__item-box {
    position: absolute;
    z-index: -1;
    opacity: 0;
    min-width: 20px;
    min-height: 20px;
  }
  &__item-text {
    display: flex;
    align-items: flex-start;
    user-select: none;
    font-size: 14px;
    line-height: 18px;
    color: rgba(31, 32, 65, 0.5);
    cursor: pointer;
  }
  &__item-title {
    font-weight: 700;
    color: rgba(31, 32, 65, 0.75);
    display: flex;
    flex-direction: column;
    width: 266px;
  }
  &__item-descr {
    margin-top: 5px;
    width: 223px;
    font-size: 12px;
    line-height: 14px;
    font-weight: 400;
    color: rgba(31, 32, 65, 0.5);
  }
  &__item-text::before {
    content: '';
    margin-right: 10px;
    display: inline-block;

    min-width: 20px;
    min-height: 20px;

    border: 1px solid rgba(31, 32, 65, 0.25);
    border-radius: 4px;
    background-repeat: no-repeat;
    background-position: center center;
  }
  &__item-box:checked + &__item-text::before {
    border-color: #bc9cff;
    background-image: url('./assets/check.svg');
  }
}
