.colours
  .colours__item
    .colours__item-block.shade100
    .colours__item-text
      h2.colours__item-title Dark Shade 100%
      p.colours__item-descr #1F2041
  .colours__item
    .colours__item-block.shade75
    .colours__item-text
      h2.colours__item-title Dark Shade 75%
      p.colours__item-descr #1F2041
  .colours__item
    .colours__item-block.shade50
    .colours__item-text
      h2.colours__item-title Dark Shade 50%
      p.colours__item-descr #1F2041
  .colours__item
    .colours__item-block.shade25
    .colours__item-text
      h2.colours__item-title Dark Shade 25%
      p.colours__item-descr #1F2041
  .colours__item
    .colours__item-block.shade5
    .colours__item-text
      h2.colours__item-title Dark Shade 5%
      p.colours__item-descr #1F2041
  .colours__item
    .colours__item-block.purple
    .colours__item-text
      h2.colours__item-title Purple
      p.colours__item-descr #BC9CFF
  .colours__item
    .colours__item-block.green
    .colours__item-text
      h2.colours__item-title Green
      p.colours__item-descr #6FCF97