.checkbox
  h4.checkbox__title Checkbox Buttons
  .checkbox__items
    .checkbox__item 
      input#checkbox-1(type="checkbox", name="smoking").checkbox__item-box 
      label(for="checkbox-1").checkbox__item-text 
       | Можно курить
    .checkbox__item 
      input#checkbox-2(type="checkbox", name="smoking").checkbox__item-box 
      label(for="checkbox-2").checkbox__item-text 
       | Можно с питомцами
    .checkbox__item 
      input#checkbox-3(type="checkbox", name="smoking").checkbox__item-box 
      label(for="checkbox-3").checkbox__item-text 
       | Можно пригласить гостей (до 10 человек)