.type
  .type__item
    p.type__descr.type__descr-h1 H1
    h1.type__item-h1
      |             This one is the sub-section or widget title
  .type__item
    p.type__descr.type__descr-h2 H2
    h2.type__item-h2
      |             Next one is the item title inside widgets
  .type__item
    p.type__descr.type__descr-h3 H3
    h3.type__item-h3
      |             This is a label or CTA text
  .type__item
    p.type__descr.type__descr-body Body
    p.type__item-text
      |             This is the body text which is used for most of the design, like
      |             paragraphs, lists, etc.
