@import '~normalize.css';
@import '../fonts/font.css';

h1 {
  margin: 0;
}
html {
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  line-height: 18px;
}
textarea:focus,
input:focus {
  outline: none;
}

fieldset {
  border: none;
  margin: 0;
  padding: 0;
}

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
li {
  list-style-type: none;
}

.container {
  max-width: 1160px;
  margin: 0 auto;
  padding: 0 140px;
}
.container-fluid {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 140px;
}

.column {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  flex-wrap: wrap;
  margin-top: 145px;
  margin-bottom: 145px;
}

.hide {
  display: none;
}
