.radio
  h4.radio__title Radio Buttons
  .radio__items 
    .radio__item 
      input#radio-1(type="radio", name="gender" value="male").radio__item-circle 
      label(for="radio-1").radio__item-text 
       span Мужчина
    .radio__item 
      input#radio-2(type="radio", name="gender" value="female").radio__item-circle 
      label(for="radio-2").radio__item-text 
       span Женщина