mixin dropdown(type, arr)
  if (type == 'guests')
    .dropdown
      h4.dropdown__title dropdown
      button.dropdown__btn(type='submit') Сколько гостей
      ul.dropdown__menu
        each item in arr
          li.dropdown__item 
            p.dropdown__item-text= item
            .dropdown__item-counter
              .dropdown__item-minus -
              .dropdown__item-count 0
              .dropdown__item-plus +
        li.dropdown__control
          a.dropdown__reset Очистить
          a.dropdown__apply Применить
  else if (type == 'rooms')
    .dropdown
      h4.dropdown__title dropdown
      button.dropdown__btn.dropdown__rooms(type='submit') 
      ul.dropdown__menu
        each item in arr
          li.dropdown__item 
            p.dropdown__item-text= item
            .dropdown__item-counter
              .dropdown__item-minus -
              .dropdown__item-count 2
              .dropdown__item-plus +



+dropdown('guests', ['Взрослые', 'Дети', 'Младенцы'])

+dropdown('rooms', ['спальни', 'кровати', 'ванные комнаты'])