.range-slider {
  width: 266px;
  margin-bottom: 40px;

  &__info {
    display: flex;
    justify-content: space-between;

    margin-bottom: 20px;
  }
  &__title {
    text-transform: uppercase;
    color: #1f2041;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
  }
  &__value {
    font-size: 12px;
    line-height: 15px;
    text-align: right;
    text-transform: uppercase;
    color: rgba(31, 32, 65, 0.5);
  }
  &__bar {
    height: 6px;
  }
}

.noUi-horizontal .noUi-handle {
  width: 12px;
  height: 12px;
  right: -5px;
  top: -4px;
  background: linear-gradient(180deg, #6fcf97 0%, #66d2ea 100%);
  border: 2px solid #ffffff;
  border-radius: 10px;
  &::after,
  &::before {
    display: none;
  }
}
