.like
  h4.like__title like Button
  button.like__button 
    img(class="like__heart" src="pug/blocks/like-btn/heart.svg", alt="â¤")
    span.like__count 12
  button.like__button 
    img(class="like__heart" src="pug/blocks/like-btn/heart.svg", alt="â¤")
    span.like__count 12
