mixin like(count, classes, title)
  div(class='like ' + classes)
    h4.like__title= title
    button.like__button 
      img(class="like__heart", src="images/heart.svg", alt="â¤")
      span.like__count= count
