.toggle {

  &__item {
    margin-bottom: 10px;

    display: flex;
    align-items: center;
  }
  &__item-box {
    position: relative;
    display: inline-block;

    min-width: 40px;
    min-height: 20px;

    background: #fff;
    outline: none;
    border: 1px solid rgba(31, 32, 65, 0.25);
    border-radius: 10px;
    appearance: none;
    
    cursor: pointer;
    
    transition: 0.5s ease-in-out;
  }
  &__item-text {
    margin-left: 10px;

    display: flex;
    align-items: center;
    user-select: none;

    font-size: 14px;
    line-height: 24px;
    cursor: pointer;
    color: rgba(31, 32, 65, 0.75);
  }
  &__item-box::before {
    content: '';
    display: inline-block;
    width: 12px;
    height: 12px;

    position: absolute;
    left: 3px;
    top: 3px;
    
    background: rgba(31, 32, 65, 0.25);
    border-radius: 10px;

    transform: translateX(0);
    transition: 0.5s ease;
  }
  &__item-box:checked::before {
    transform: translateX(20px);
    background: linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);
  }
  &__item-box:checked {
    border-color: #bc9cff;
  }
}
