mixin rateButtons(attrs = {})
  - 
    const {
      count=5,
      actived
    } = attrs


  .rate__items  
    - for(i = 1; i <= 5; i++) {
      -
        let classList = 'rate__item '
        const active = i <= attrs.actived;
        if (active) {
          classList += 'rate__item--actived'
        }

      span(class=classList)

    - }