include pug/libs/_libs

doctype html
html(lang='ru')
  include pug/_head
  link(rel="stylesheet", href="styles/main.scss")
  
  body
  .container
    //- .column
    //-   include pug/blocks/colors/colors.pug
    //-   include pug/blocks/type/type.pug
    //- include pug/blocks/checkbox/checkbox.pug
    //- include pug/blocks/radio/radio.pug
    //- include pug/blocks/toggle/toggle.pug
    //- include pug/blocks/rate/rate.pug
    include pug/blocks/like-btn/like-btn.pug
