include pug/libs/_libs

doctype html
html(lang='ru')
  include pug/_head
  link(rel="stylesheet", href="styles/main.scss")
  
  body
  .container
    //- .column
    //-   include pug/blocks/colors/colors.pug
    //-   include pug/blocks/type/type.pug
    //- .column
    //-   include pug/blocks/checkbox/checkbox.pug
    //-   include pug/blocks/radio/radio.pug
    //-   include pug/blocks/toggle/toggle.pug
    //-   include pug/blocks/rate/rate.pug
    //- .column   
      //- include pug/blocks/like-btn/like-btn.pug
      //- include pug/blocks/range-slider/range-slider.pug
      //- include pug/blocks/button/button.pug
      //- include pug/blocks/pagination/pagination.pug
    //- include pug/blocks/text-field/text-field.pug
    include pug/blocks/dropdown/dropdown.pug
    //- include pug/blocks/date-dropdown/date-dropdown.pug
