.dropdown
  h4.dropdown__title dropdown
  button.dropdown__btn(type='submit') Сколько гостей
  ul.dropdown__menu 
    li.dropdown__item 
      p.dropdown__item-text Взрослые
      .dropdown__item-counter
        .dropdown__item-minus -
        .dropdown__item-count 0
        .dropdown__item-plus +
    li.dropdown__item 
      p.dropdown__item-text дети
      .dropdown__item-counter
        .dropdown__item-minus -
        .dropdown__item-count 0
        .dropdown__item-plus +
    li.dropdown__item 
      p.dropdown__item-text младенцы
      .dropdown__item-counter
        .dropdown__item-minus -
        .dropdown__item-count 0
        .dropdown__item-plus +
    li.dropdown__control
      a.dropdown__reset Очистить
      a.dropdown__apply Применить
