.rate
  h4.rate__title rate button
  .rate__items
    input(class="rate__item" type="radio" data-rate="1" name="rate")
    input(class="rate__item" type="radio" data-rate="2" name="rate")
    input(class="rate__item" type="radio" data-rate="3" name="rate")
    input(class="rate__item" type="radio" data-rate="4" name="rate")
    input(class="rate__item" type="radio" data-rate="5" name="rate")